.modal {
    pointer-events: all;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);

    transition: 0.4s;
}

.modalActive {
    pointer-events: none;

    transform: scale(0.5);

    opacity: 0;
}

.modalContent {
    width: 250px;
    padding: 20px;

    background-color: white;
    border-radius: 12px;

    transition: 0.4s all;
}

.modalContentActive {
    transform: scale(1);
}